<div class="ride-form">
  <div class="content-container">
    <form [formGroup]="rideForm">
      <div class="ride-form__field">
        <label class="ride-form__label" for="startingAddress">Starting Adress:</label>
        <input
          class="ride-form__input"
          type="text"
          formControlName="startingAddress"
          id="startingAddress">
        @if (formSubmitted && rideForm.controls['startingAddress'].invalid) {
          <span class="ride-form__error">Field is required</span>
        }
      </div>
      <div class="ride-form__field">
        <label class="ride-form__label" for="finalAddress">Final Adress:</label>
        <input
          class="ride-form__input"
          type="text"
          formControlName="finalAddress"
          id="finalAddress">
        @if (formSubmitted && rideForm.controls['finalAddress'].invalid) {
          <span class="ride-form__error">Field is required</span>
        }
      </div>
      <div class="ride-form__field">
        <label class="ride-form__label" for="dateTime">Date and Time:</label>
        <input
          class="ride-form__input"
          type="datetime-local"
          formControlName="dateTime"
          id="dateTime">
        @if (formSubmitted && rideForm.controls['dateTime'].invalid) {
          <span class="ride-form__error">Field is required</span>
        }
      </div>
      <div class="ride-form__field">
        <label class="ride-form__label" for="phoneNumber">Phone Number:</label>
        <input
          class="ride-form__input"
          type="tel"
          formControlName="phoneNumber"
          id="phoneNumber">
        @if (formSubmitted && rideForm.controls['phoneNumber'].invalid) {
          <span class="ride-form__error">Field is required</span>
        }
      </div>
      <div class="ride-form__field">
        <label class="ride-form__label" for="paymentMethod">Payment Method:</label>
        <div class="ride-form__radio">
          <div>
            <span>Cash</span>
            <input
              type="radio"
              formControlName="paymentMethod"
              value="cash"
              (change)="changePaymentMethod($event)">
          </div>
          <div>
            <span>Card</span>
            <input
              type="radio"
              formControlName="paymentMethod"
              value="card"
              (change)="changePaymentMethod($event)">
          </div>
        </div>
        @if (formSubmitted && rideForm.controls['paymentMethod'].invalid) {
          <span class="ride-form__error">Field is required</span>
        }
      </div>
      @if (paymentMethod === 'card') {
        <div class="ride-form__field">
          <label class="ride-form__label" for="cardNumber">Card Number:</label>
          <input
            class="ride-form__input"
            type="text"
            formControlName="cardNumber"
            id="cardNumber">
          @if (formSubmitted && rideForm.controls['cardNumber'].invalid) {
            <span class="ride-form__error">Field is required</span>
          }
        </div>
        <div class="ride-form__field">
          <label class="ride-form__label" for="expirationCardDate">Card Expiration Date:</label>
          <input
            class="ride-form__input"
            type="date"
            formControlName="expirationCardDate"
            id="expirationCardDate">
          @if (formSubmitted && rideForm.controls['expirationCardDate'].invalid) {
            <span class="ride-form__error">Field is required</span>
          }
        </div>
      }
    </form>
    <button class="ride-form__button" (click)="submitForm()">Save</button>
  </div>
</div>